<h2>How to Play</h2>

<h3>Object of the Game</h3>
<p>The object of the game is to score as many points as you can with a variety of dice/scoring combinations</p>

<h3>Taking a Turn</h3>
<p>
    You may roll up to three times per turn. On the first turn, you will roll all of the dice. You may select any dice
    you wish to keep by clicking the "Hold" button beneath the die you intend to hold. You may choose to score
    by clicking the appropriate "Take" button on the right-hand side of your scoresheet.
</p>
<p>
    Your second and third rolls play just the same with the exception being that you <em>must</em> score after your third roll.
    You may roll any and all dice on any roll simply by toggling the "Hold"/"Held" button beneath each die.
</p>

<h3>Scoring</h3>
<p>
    Scoring areas are divided into two sections, the upper secion and the lower section. You will score in the upper section by
    grouping the same numbers together and adding up those numbers for the score. For example, if you rolled <em>2 3 2 5 2</em>,
    you could choose to score in the "Twos" category for a total of 6 points. If you score an upper section total of 63 or more,
    you'll be rewarded a 35 point bonus to your upper section total.
</p>
<p>
    You will score in the lower section by making certain dice combinations. Refer to the table below for what each selection means
    and to the scoresheet itself for point totals for that selection.
</p>
<table class="table table-striped">
    <tr>
        <th>Lower Section Name</th>
        <th>How to Score</th>
        <th>Example</th>
    </tr>
    <tbody>
    <tr>
        <td>Three of a Kind</td>
        <td>Get three dice that are the same</td>
        <td>2, 3, 4, 3, 3</td>
    </tr>
    <tr>
        <td>Four of a Kind</td>
        <td>Get four dice that are the same</td>
        <td>2, 2, 2, 3, 2</td>
    </tr>
    <tr>
        <td>Full House</td>
        <td>Get 3 dice that are the same and 2 dice that are the same</td>
        <td>4, 4, 6, 6, 6</td>
    </tr>
    <tr>
        <td>Sm. Straight</td>
        <td>Get 4 numbers in sequence</td>
        <td>1, 5, 4, 6, 3</td>
    </tr>
    <tr>
        <td>Lg. Straight</td>
        <td>Get 5 numbers in sequence</td>
        <td>3, 2, 5, 4, 6</td>
    </tr>
    <tr>
        <td>Yahtzee</td>
        <td>Get 5 numbers that are all the same</td>
        <td>3, 3, 3, 3, 3</td>
    </tr>
    <tr>
        <td>Chance</td>
        <td>Any combination of numbers</td>
        <td>1, 1, 3, 4, 2</td>
    </tr>
    </tbody>
</table>

<h3>Ending the Game</h3>
<p>The game will end when you fill out the entirety of the score sheet. Register and log in to save your scores!</p>