<h2>How to Play</h2>

<h3>Object of the Game</h3>
<p>The object of the game is to score as many points as you can with a variety of dice/scoring combinations</p>

<h3>Taking a Turn</h3>
<p>
    You may roll up to three times per turn. On the first turn, you will roll all of the dice. You may select any dice
    you wish to keep by clicking the "Hold" button beneath the die you intend to hold. You may choose to score
    by clicking the appropriate "Take" button on the right-hand side of your scoresheet.
</p>
<p>
    Your second and third rolls play just the same with the exception being that you <em>must</em> score after your third roll.
    You may roll any and all dice on any roll simply by toggling the "Hold"/"Held" button beneath each die.
</p>

<h3>Scoring</h3>
<p>
    Scoring areas are divided into two sections, the upper secion and the lower section. You will score in the upper section by
    grouping the same numbers together and adding up those numbers for the score. For example, if you rolled <em>2 3 2 5 2</em>,
    you could choose to score in the "Twos" category for a total of 6 points. If you score an upper section total of 63 or more,
    you'll be rewarded a 35 point bonus to your upper section total.
</p>
<p>
    You will score in the lower section by making certain dice combinations including 3 of a kind, 4 of a kind, full house,
    and more. You can refer to the scoresheet for available scoring combinations and their value.
</p>

<h3>Ending the Game</h3>
<p>The game will end when you fill out the entirety of the score sheet. Register and log in to save your scores!</p>