<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-1">
        <img src="~/Content/Images/R_Dice_1.png" />
        <button class="btn btn-sm">Hold</button>
    </div>
    <div class="col-md-1">
        <img src="~/Content/Images/R_Dice_2.png" />
        <button class="btn btn-sm">Hold</button>
    </div>
    <div class="col-md-1">
        <img src="~/Content/Images/R_Dice_3.png" />
        <button class="btn btn-sm">Hold</button>
    </div>
    <div class="col-md-1">
        <img src="~/Content/Images/R_Dice_4.png" />
        <button class="btn btn-sm">Hold</button>
    </div>
    <div class="col-md-1">
        <img src="~/Content/Images/R_Dice_5.png" />
        <button class="btn btn-sm">Hold</button>
    </div>
    <div class="col-md-1">
        <img src="~/Content/Images/R_Dice_6.png" />
        <button class="btn btn-sm">Hold</button>
    </div>
    <div class="col-md-3"></div>
</div>

<br />

<div class="row">
    <div class="col-md-1 col-md-push-3">
        <input type="button" class="btn" value="Roll Dice" />
    </div>
    <div class="col-md-8"></div>
</div>